@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&family=Norican&display=swap');
.nav{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
}
.Logo{
    width: 100%;
    height: 100%;
    display: flex;              /* display ~ align-items까지가 글자를 가로 세로 중앙에 정렬하는 방법이다 */
    justify-content: center;
    align-items: center;
}
.Logo a{
    font-family: 'Bevan', cursive;
    font-size: 40px;
}

@media(max-width:1570px){
    .Logo a{
        font-size: 40px;
    }
}
@media(max-width:920px){
    .Logo a{
        font-size: 30px;
    }
}
@media(max-width:340px){
    .Logo a{
        font-size: 20px;
    }
}
@media(max-width:200px){
    .Logo a{
        font-size: 16px;
    }
}
@media(max-height:150px){
    .nav{
        height: 100vh;
    }
    .Logo{
        height: 100vh;
    }
}
